<div class="card search">
    <h1 class="search-headline">Artist Directory</h1>
    <label class="search-label">search 
        <!--only show if AppComponent has a name property-->
        <span *ngIf="query" [innerHTML]="'for: ' + query"></span>
    </label>
    <!--bind input to a local variable "newArtist"-->
    <input class="search-input" [(ngModel)]="query" placeholder="type in search term here">
</div>
<!-- card search -->



<ul class="artistlist cf"
    *ngIf="query">
    <li class="artistlist-item cf" 
        (click)="showArtist(item); query='';"
        *ngFor="let item of artists">
        <artist-item class="content" [artist]=item></artist-item>
    </li>
</ul>

<artist-details 
    *ngIf="currentArtist && !query" 
    [artist]="currentArtist">
</artist-details>